<h1>MyThreads#show</h1>

<%= render 'layouts/header' %>

<p>
	<strong>Title:</strong>
	<%= @my_thread.title %>
</p>

<p>
	<strong>Overview:</strong>
	<%= @my_thread.overview %>
</p>

<table>
  <thead>
    <tr>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td>   by <%= comment.pen_name %></td>
        <td><%= link_to 'Edit', edit_my_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'layouts/comment_form' %>

<%= link_to 'Edit', edit_my_thread_path(@my_thread) %> |
<%= link_to 'Back', my_threads_path %>

